
body {
  margin: 0;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

a { 
  text-decoration: none;
}

/* @import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css?family=DM+Serif+Display&display=swap'); */

@font-face {
  font-family: "PPHatton";
  font-weight: 700;
  src: url("fonts/PPHatton-Bold.woff") format('woff');
}
@font-face {
  font-family: "PPHatton";
  font-style: italic;
  font-weight: 700;
  src: url("fonts/PPHatton-BoldItalic.woff") format('woff');
}
@font-face {
  font-family: "PPHatton";
  font-weight: 500;
  src: url("fonts/PPHatton-Medium.woff") format('woff');
}
@font-face {
  font-family: "PPHatton";
  font-style: italic;
  font-weight: 500; 
  src: url("fonts/PPHatton-MediumItalic.woff") format('woff');
}
@font-face {
  font-family: "PPHatton";
  font-weight: 200;
  src: url("fonts/PPHatton-Ultralight.woff") format('woff');
}
@font-face {
  font-family: "PPHatton";
  font-style: italic;
  font-weight: 200;
  src: url("fonts/PPHatton-UltralightItalic.woff") format('woff');
}

@font-face {
  font-family: "Ballantines";
  src: url("fonts/ballantines.woff") format('woff');
}